<div class="container mt-5">
    <br>
    <h1>WE HAVE ALL THE EVENTS THAT YOU NEED</h1>
    <hr>
    <br>
    <div class="d-grid gap-2">
        <br>
        <a href="/event/list" class="btn btn-success">View Events</a>
        <br>
    </div>
</div>