<div class="index container">
    <h1>WE HAVE ALL THE EVENTS YOU NEED</h1>
    <a href="/list" class="btn index-btn btn-dark">View Events</a>
    <div class="icon-container">
        <p>Follow us:</p>
        <a href="#"><img class="icon" src="/images/instagram.png" alt="instagram"></a>
        <a href="#"><img class="icon" src="/images/twitter.png" alt="twitter"></a>
        <a href="#"><img class="icon" src="/images/facebook.png" alt="facebook"></a>
    </div>
</div>