body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(https://wallpapercave.com/wp/wp1889538.jpg);
  background-size: 100%;
}

.logo-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* .header-img {
  width: 50%;

} */

.container {
  background-color: azure;
}