body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;


}

h1 {
  color: 15px;
}

.logo-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.index-btn {}

.header-img {
  width: 100%;

}