<div class="container mt-5">
    <br>
    <h1>Event Detail</h1>
    <h2>{{title}}</h2>
    <div class="cards">
        {{eventImg}}
    </div>
    <p>{{location}}
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquam massa orci, sit amet scelerisque velit
        imperdiet
        tristique. Suspendisse vel urna vitae ipsum pretium vulputate. Aliquam viverra volutpat nunc ac luctus. Vivamus
        at mi
        vitae erat porttitor consectetur. Fusce mollis interdum dolor, eu feugiat velit tempus eu. Nullam elit velit,
        feugiat
        non libero at, gravida placerat neque. Duis vel ipsum quis magna eleifend dictum tincidunt nec quam. Mauris
        egestas odio
        leo, rutrum sodales tortor fringilla accumsan. Sed facilisis purus vitae sem consequat, eu bibendum metus
        rutrum.</p>
    <br>
    <a href="/event/:_id/delete" class="btn btn-danger">Delete</a>
    <a href="/event/:_id/edit" class="btn btn-warning">Edit</a>
    {{/if}}
</div>