<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <br>
            <h1>New Event</h1>
            <hr>
            <form action="/event/event-create" method="POST">
                <div class="row">
                    <div class="col-6">
                        <div class="mb-3">
                            <label for="title" class="form-label">Event Title</label>
                            <input type="text" class="form-control" id="title" name="title">
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="mb-3">
                            <label for="category" class="form-label">Category</label>
                            <input type="text" class="form-control" id="category" name="category">
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="mb-3">
                            <label for="description" class="form-label">Description</label>
                            <input type="text" class="form-control" id="description" name="description">
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="mb-3">
                            <label for="start" class="form-label">Start</label>
                            <input type="date" class="form-control" id="start" name="start">
                        </div>
                    </div>
                    <div class="col-5">
                        <div class="mb-3">
                            <label for="end" class="form-label">End</label>
                            <input type="date" class="form-control" id="end" name="end">
                        </div>
                    </div>
                    <div class="col-5">
                        <br>
                        <h3>Location:</h3>
                        <hr>
                        <div class="mb-3">
                            <label for="city" class="form-label">City</label>
                            <input type="text" class="form-control" id="city" name="city">
                        </div>
                        <div class="mb-3">
                            <label for="lat" class="form-label">Latitude</label>
                            <input type="text" class="form-control" id="lat" name="lat">
                        </div>
                        <div class="mb-3">
                            <label for="lng" class="form-label">Longitude</label>
                            <input type="text" class="form-control" id="lng" name="lng">
                        </div>
                    </div>
                    <div class="col-10">
                        <div class="mb-3">
                            <label for="eventImg" class="form-label">Image</label>
                            <input type="text" class="form-control" id="eventImg" name="eventImg">
                        </div>
                    </div>
                </div>
                <div class="d-grid mt-5">
                    <br>
                    <button type="submit" class="btn btn-dark btn-lg">Create Event</button>
                </div>
                <br>
            </form>
        </div>
    </div>
</div>
<br>