{{!-- REVISAR ESTE APARTADO PARA CUANDO INSERTEMOS LA API PODER NOMBRAR BIEN CADA PARTE --}}


<div class="container">
    <h1>EVENT LIST</h1>
    <hr>
    <div class="row">
        {{#each '###############################'}}
        <div class="col-md-4">
            <article class="cards">
                <img src="INSERTAR IMAGEN">
            </article>
            <p><b>{{name}}</b></p>
            <p>{{location}}</p>
        </div>
        {{/each}}
    </div>
    <hr>
    <a href="/" class="btn btn-dark mt-3 mb-5">Home</a>
</div>