{{!-- REVISAR ESTE APARTADO PARA CUANDO INSERTEMOS LA API PODER NOMBRAR BIEN CADA PARTE --}}


<div class="container">
    <h1>EVENT LIST</h1>
    <hr>
    <div class="row">
        {{#each event}}
        <div class="col-md-4">
            <h3>{{title}}</h3>
            <p>{{start}}--- {{end}}</p>

        </div>
        {{/each}}
    </div>
    <hr>
    <a href="/" class="btn btn-dark mt-3 mb-5">Home</a>
</div>