{{!-- REVISAR ESTE APARTADO PARA CUANDO INSERTEMOS LA API PODER NOMBRAR BIEN CADA PARTE --}}

<br>
<div class="container">
    <br>
    <h1>Event List</h1>
    <hr>
    <div class="row">
        {{#each '###############################'}}
        <div class="col-md-4">
            <article class="cards">
                <img src="INSERTAR IMAGEN">
            </article>
            <p><b>{{title}}</b></p>
            <p>{{location}}</p>
        </div>
        {{/each}}
    </div>
    <br>
    <div class="btn">
        <a href="/" class="btn btn-dark mt-3 mb-5">Home</a>
    </div>
    <br>
</div>
<br>